.topbar {
	position: static;
	margin-bottom: 10px;
}
#repositories {
	margin-left: 10px;
}
#repositories li {	
	line-height: 20pt;
	font-size: 11pt;
	color: #404040;		
}
#repositories a {	
	font-size: 12pt;
	text-decoration: underline;	
}
#repositories em {
	font-style: normal;
	font-size: 10pt;
	color: #808080;	
}
#breadcrumbs {
	margin-left: 20px;
	margin-right: 20px;
}
#fluid-layout .sidebar {
	width: 260px;
}
#fluid-layout .content {
	margin-left: 280px;
}
.sidebar {	
	font-family: monospace;
	border: 1px solid #DDDDDD;		
}
.sidebar ul {
	margin-bottom: 0;
}
.sidebar ul li:FIRST-CHILD  {
	border: none;
}
.sidebar li {
	padding-left: 3px;
	color: black;
	border-top: 1px solid #DDDDDD;
}
#log li {	
	color: #404040;
	padding: 5px 10px;
	background: #F9F9F9;	
	border-style: solid;
	border-color: #DDDDDD; 
	border-width: 0 1px 1px 1px;
}
#log a {
	font-family: monospace;
}
#log li:hover {
	background: #F5F5F5;
}
#log li span.message {
	padding-left: 2px;
}
#log li:FIRST-CHILD {
	border-top-width: 1px;
}
#log li span.time {
	display: block;
	float: right;
	font-size: 8pt;
	color: #808080;	
}
#content-header {
	padding: 5px;
}